DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'pytwitter',
        'USER': 'pytwitter',
        'PASSWORD': 'pytwitter',
        'HOST': 'localhost',
        'PORT': 5432,
    }
}
